<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Team Work</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 container justify-content-center card mt-5">
                <h1 class="text-center">Create User</h1>
                <div class="card-body">
                    <form class="row g-3 needs-validation" th:action="@{/api/v1/auth/create_user}" th:object="${user}" method="POST" novalidate>
                        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                            <p th:text="${errorMessage}"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="firstname" class="form-label">Firstname</label>
                            <input type="text" name="firstName" th:field="*{firstName}" class="form-control" id="firstname" required>
                            <div class="invalid-feedback">
                                Please provide a firstname.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="lastname" class="form-label">Lastname</label>
                            <input type="text" name="lastName" th:field="*{lastName}" class="form-control" id="lastname" required>
                            <div class="invalid-feedback">
                                Please provide a lastname.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" th:field="*{email}" class="form-control" id="email" required>
                            <div class="invalid-feedback">
                                Please provide an email.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" th:field="*{password}" class="form-control" id="Password" required>
                            <div class="invalid-feedback">
                                Please provide a password.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" name="address" th:field="*{address}" class="form-control" id="address" placeholder="1234 Main St" required>
                            <div class="invalid-feedback">
                                Please provide an address.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="department" class="form-label">Department</label>
                            <input type="text" name="department" th:field="*{department}" class="form-control" id="department" required>
                            <div class="invalid-feedback">
                                Please provide a department.
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="gender" class="form-label">Gender</label>
                            <select id="gender" th:field="*{gender}"  class="form-select" required>
                                <option value="" disabled selected>Choose...</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a gender.
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="job_role" class="form-label">Job Role</label>
                            <select id="job_role" th:field="*{jobRole}" class="form-select" required>
                                <option value="" disabled selected>Choose...</option>
                                <option value="Admin">Admin</option>
                                <option value="Employee">Employee</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a job role.
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



<script>
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
</script>
</body>
</html>